# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.AlbumShop.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\GIT\AlbumShop\.idea\.idea.AlbumShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
