@model AlbumShop.ViewModels.AddToDataBaseViewModel


@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Добавление товара в базу данных"; 
    }

<h3>Добавить товар</h3>
<div class="row p-5">
    <form asp-action="Categories" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Category.CategoryName"></label>
            <div class="col-12">
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Добавить Товар" />
    </form>
</div>
