@using AlbumShop.Data.Models
<h1>Все альбомы</h1>
<h3>@Model.currCategory</h3>


<div class="row mt-5 mb-2">
    @{
        foreach (Album album in Model.GetAllAlbums)
        {
            @Html.Partial("AllAlbums", album)
        }
    }
</div>