@using AlbumShop.ViewModels
@using AlbumShop.Data.Models
@model AlbumsListViewModel


    <h2>All albums</h2>
    <h2>@Model.AlbumCategory</h2>
    <div class="row mt-5 mb-2">
        @{
            foreach (Album album in Model.GetAllAlbums)
            {
                @Html.Partial("AllAlbums", album)
            }
        }
    <div>